<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Demo</title>
</head>
<body>

<h1>Login</h1>

<form action="http://wikipedia.org" method="GET">
    <label>Email: <input name="email" type="email" placeholder="email" required></label>
    <label>Password: <input name="password" type="password" placeholder="password" required></label>
    <button>Login</button>
</form>

<form action="">
    <label for="dogs">Dogs: </label>
    <input name="petChoice" id="dogs" type="radio" value="DOGS">

    <label for="cats">Cats: </label>
    <input name="petChoice" id="cats" type="radio" value="CATS">

    <select name="mood" id="">
        <option value="happy">:)</option>
        <option value="neutral">:|</option>
        <option value="sad">:(</option>
    </select>

    <button>Go!</button>
</form>

<form action="">
    <textarea name="paragraph" id="" cols=10 rows="10"></textarea>
</form>


</body>
</html>